<div class="container">
  <h3 class="text-center">{{ title }}</h3>
  <form [formGroup]="createForm">

    <div class="form-group">
      <label for="postName">Name</label>
      <input type="text" class="form-control" id="postName" formControlName="postName">
      <!-- Display validation error messages if name is invalid -->
      <div
        *ngIf="createForm.get('postName').invalid && (createForm.get('postName').dirty || createForm.get('postName').touched)">
        <div *ngIf="createForm.get('postName').hasError('required')">Full Name is required.</div>
        <div *ngIf="createForm.get('postName').hasError('pattern')">Full Name is invalid.</div>
        <div *ngIf="createForm.get('postName').hasError('maxlength')">Full Name cannot exceed 30 characters.</div>
        <div *ngIf="createForm.get('postName').hasError('minlength')">Full Name must be at least 2 characters.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="postGender">Gender</label>
      <select class="form-control" id="postGender" formControlName="postGender">
        <option value="">Select Gender</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>
      <!-- Display validation error message if postGender is invalid -->
      <div
        *ngIf="createForm.get('postGender').invalid && (createForm.get('postGender').dirty || createForm.get('postGender').touched)">
        <div *ngIf="createForm.get('postGender').hasError('required')">Gender is required.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="postEmail">Email</label>
      <input type="postEmail" class="form-control" id="postEmail" formControlName="postEmail">
      <!-- Display validation error messages if postEmail is invalid -->
      <div
        *ngIf="createForm.get('postEmail').invalid && (createForm.get('postEmail').dirty || createForm.get('postEmail').touched)">
        <div *ngIf="createForm.get('postEmail').hasError('required')">Email is required.</div>
        <div *ngIf="createForm.get('postEmail').hasError('pattern')">Email is invalid.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="postMobile">Mobile</label>
      <input type="text" class="form-control" id="postMobile" formControlName="postMobile">
      <!-- Display validation error messages if postMobile is invalid -->
      <div
        *ngIf="createForm.get('postMobile').invalid && (createForm.get('postMobile').dirty || createForm.get('postMobile').touched)">
        <div *ngIf="createForm.get('postMobile').hasError('required')">Mobile is required.</div>
        <div *ngIf="createForm.get('postMobile').hasError('pattern')">Mobile is invalid.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="postCategory">Category</label>
      <select class="form-control" id="postCategory" formControlName="postCategory">
        <option value="">Select Category</option>
        <option value="General">General</option>
        <option value="SC/ST">SC/ST</option>
        <option value="OBC">OBC</option>
      </select>
      <!-- Display validation error message if postCategory is invalid -->
      <div
        *ngIf="createForm.get('postCategory').invalid && (createForm.get('postCategory').dirty || createForm.get('postCategory').touched)">
        <div *ngIf="createForm.get('postCategory').hasError('required')">Category is required.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="formFile" class="form-label">Choose file for Profile Picture</label>
      <input class="form-control" type="file" formControlName="postProPic" id="formFile"
         (change)="onFileUpload($event)">
        <span *ngIf="t!=''" class="text-danger">{{t}}</span>

      <br>
      <p>Previous Profile Picture</p>
      <img *ngIf="createForm.get('postProPic').value" [src]="createForm.get('postProPic').value" alt="Profile Picture" class="profile-picture" height="200">
    </div>

    <br>
    <div class="form-group">
      <button type="submit" class="btn btn-primary" (click)="handleUpdateUser()"  [routerLink]="['../view']">Update</button>
    </div>
  </form>
</div>
